*, ::after, ::before {
    box-sizing: border-box;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
p {
	font-size: 18px;
}
.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col-md-3 {
	flex: 0 0 25%;
    max-width: 25%;
    margin: 0 auto;
}
.col-md-9 {
	flex: 0 0 75%;
    max-width: 75%;
}
.empty-avatar {
	width: 300px;
	height: 300px;
	cursor: pointer;
}
#imgInp {
	display: none;
}
.crop-container {
  	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
	position: relative;
	width: 800px;
	height: 500px;
}
.crop-wrap, .crop-canvas {
	    overflow: hidden;
}
.crop-wrap, .crop-canvas, .crop-drag-box, .crope-move{
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.crop-drag-box {
	cursor: move;
    background-color: #000;
    opacity: .5;
}

.crop-box {
	width: 300px;
	height: 300px;
	margin: auto;
    left: 250px;
    position: absolute;
    top: 100px;
}
.crop-view {
	display: block;
    height: 100%;
    outline-color: #39f;
    outline: 1px solid #39f;
    overflow: hidden;
    width: 100%;
}
.crope-move {
	cursor: move;
	opacity: 0;
}
.controls {
    font-size: 24px;
    padding: 20px 0;
}
.controls * {
	display: inline-block;
    width: 50px;
    background-color: #007bff;
    text-align: center;
    border-color: #007bff;
    border-radius: 5px;
    color: white;
    padding: 2px;
    cursor: pointer;

}

.pluss {
	margin-left: 10px
}

.done {
	width: 80px;
	margin-left: 50px;
	color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}